@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --bg-color: linear-gradient(354deg, rgba(42,255,153,1) 0%, rgba(9,92,121,1) 91%);
    font-family: 'Source Code Pro', monospace;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;

    position: fixed;
    
}

body {
    position: relative;
}

canvas {
    touch-action: none;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    background: var(--bg-color);
}

#welcome-text {
    font-size: 4vh;
    color: white;
    position: absolute;
    top: 10%;
    opacity: 0.7;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#bottom-overlay {
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: white;
    /* top: 0px; */
    z-index: 2;
    border-radius: 4em 4em 0 0;
    box-shadow: 0 0 2.5px;
    overflow: scroll;

    top: 50%; /*default pos*/
    transition: background-color 0.25s;
}

#bottom-overlay .tab-line {
    width: 25%;
    height: 15px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3.5em;

    background-color: rgb(214, 207, 199);
}

.bucket-button {
    font-size: 3vh;
    margin: 2%;
    max-height: 1.3em;
    transition: all 1s;
    padding: 3.5%;
    background: linear-gradient(354deg, rgb(234, 234, 234) 0%, rgba(9, 92, 121, 0.08) 91%);
    border-radius: 3em;
    text-align: center;
}

.bucket-button.expanded {
    border-radius: 2.5vh;
    max-height: 6em;
}

.bucket-button .info {
    max-height: 0;
    transition: all 1s;
    overflow: hidden;
}

.bucket-button.expanded .info {
    max-height: 5em;
}

#messages-container {    
    font-size: 3vh;
    width: 100%;
    padding: 3%;
    padding-bottom: 6%;
    box-sizing: border-box;
    align-items: center;
    height: 90%;

    overflow: auto;
}

.message {
    width: 90%;
    /* height: fit-content; */
    margin-left: auto;
    margin: 5%;

    margin-right: auto;
    overflow: hidden;
}

.message .name {
    float: left;
    width: 80%;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    color: white;
    opacity: 0.7;
    font-size: 2.5vh;
}

.message img {
    width: 100%;
    /* background-color: white; */
    border-radius: 1.5em;
}

.message .img-container {
    width: 100%;
    background-color: white;
    border-radius: 1.5em;
    overflow: hidden;
    height: fit-content;
}

.message .caption {
    max-width: 70vw;
    width: fit-content;
    float: right;
    margin-top: 1vh;
    font-size: .9em;
    background-color: #ffffff94;
    padding: .2em .5em;
    border-radius: 1.5em;
    overflow: hidden;
    height: fit-content;
}

.chat-notice { 
    width: 90%;
    height: fit-content;
    text-align: center;
    padding: 2vh;
    font-weight: bold;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5vh;
    background-color: #e0fff27a;
    box-sizing: border-box;
}

.chat-notice.warning {
    background: linear-gradient(42deg, rgba(255,57,57,0.9388349089635855) 21%, rgba(255,0,0,0.9780505952380952) 100%) !important;
    color: white;
}

.bottom-button {
    width: 100%;
    height: 20%;
    border-radius: 1em 1em 0 0;
    background-color: black;

    position: absolute;
    bottom: 0px;
    z-index: 3;

    box-sizing: border-box;
    color: white;
    font-size: 4vh;
    font-weight: bolder;
    text-align: center;
    padding: 5%;
}

#caption-container {
    width: 100%;
    height: 20%;
    border-radius: 1em 1em 0 0;
    background-color: #dcdcdc;
    color: black;
    padding: 0;
    transition: height .25s;

    position: absolute;
    bottom: 0px;
    z-index: 2;

    box-sizing: border-box;
    font-size: 4vh;
    font-weight: bolder;
    text-align: center;
}

#caption-container input[type=text] {  
    height: 33.33%;
    min-height: fit-content;
    background-color: #ffffff00;
    border: none;
    width: 90%;
    font-size: 3vh;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-bottom: 66.66%;
}

#caption-container input[type=text]:focus {  
    outline: none;
}

#caption-container.active {
    height: 30%;
}

#toolbar {
    bottom: -5%; /*raised == 5%*/
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
    height: 5%;
    width: 100%;

    transition: bottom 0.25s;
}

.toolbar-button {
    box-shadow: 0 0;
    font-size: 2vh;
    display: inline-block;
    margin-left: 2%;
    border: 5px solid black;
    height: fit-content;
    border-radius: 2em;
    min-width: 15%;
    background-color: rgba(255, 255, 255, 0.21);
    padding: 1%;
    text-align: center;

    transition: background-color 0.25s;
    transition: box-shadow 0.25s;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
}

.toolbar-button.checked
{
    background-color: white;
    box-shadow: 0 3px 0px;
}

.toolbar-button:active
{
    background-color: white;
    box-shadow: 0 3px 0px;
}

#pen-settings {
    display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;

    padding: 5%;
    box-sizing: border-box;
    touch-action: none;

    opacity: 0;
    transition: opacity 0.1s;
    font-size: 3vh;
    font-weight: bolder;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1.5vh;
    border-radius: 2em;  
    background: black;
    outline: none;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}


/* #colo */
.dialog {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50vw);
    padding: 2vh;
    background-color: #ffffff7d;
    border-radius: 2.5vh;

    font-size: 5em;
}

.dialog input{
    font-family: 'Source Code Pro', monospace;
    font-size: .7em;
    text-align: center;
    border: none;
    border-radius: 2.5vh;
    padding: .1em;
}

.dialog input.username {
    box-shadow: 8px 8px #7ce7ff;
    background-color: #b6fbff;
}

.dialog input.password {
    box-shadow: 8px 8px #6affd6;
    background-color: #c0ffe2;
}

.dialog p {
    margin: 0;
    font-size: .7em;
    margin-bottom: 2vh;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    color: #000000b0;
}

.dialog button {
    font-family: 'Source Code Pro', monospace;
    font-size: .5em;
    border-radius: 2.5vh;
    border: none;
    padding: .5vh 1vh .5vh 1vh;
    background-color: white;
    box-shadow: 4px 4px #333333;
}