<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.7.0/vue-cookies.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"> 
        <script src="{{ url_for('static', filename = 'js/draw.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/user.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/chat.js') }}"></script>

        <title>PictoALPH</title>

        <!-- Basic declarations and Meta descriptions -->
        <meta charset="utf-8">
        <!-- <meta name="viewport"    content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <meta name="description" content="Chat.">

        <!-- Web app manifest -->
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    </head>

    <script>
        let appV = null

        Vue.component('message-li', {
            delimiters : ['[[', ']]'],
            props: ['message'],
            template: `
                <div class="message">
                    <div class='name'>[[ message.name ]]</div>
                    <div class="img-container">
                        <img v-bind:src="\'data:image/png;base64,\' + message.message">
                    </div>
                </div>`
        })

        Vue.directive("swipe", {
            bind: function(el, binding) {
                if (typeof binding.value === "function") {
                    const mc = new Hammer(el);
                    mc.get("swipe").set({ direction: Hammer.DIRECTION_VERTICAL });
                    mc.on("swipe", binding.value);
                }
            }
        });

        Vue.directive("press", {
            bind: function(el, binding) {
                if (typeof binding.value === "function") {
                    const mc = new Hammer(el);
                    mc.get("press").set({ time: 500});
                    mc.on("press", binding.value);
                }
            }
        });

        function animateOverlay(finalTop, dist = 0) 
        {
            finalTop == 0.9 ? $('#messages-container').css('height', '90%') : {}

            $('#bottom-overlay').animate(
                {top : ($(document.body).height()*finalTop + dist)}, 
                {duration: 150, complete: ()=>{
                    $('#bottom-overlay').animate(
                        {top : finalTop*100 + '%'},
                        {duration: 50, complete: ()=>{

                            finalTop == 0.5 ? $('#messages-container').css('height', '50%') : {}
                            finalTop == 0.5 ? $('#toolbar').css('bottom', '5%') : $('#toolbar').css('bottom', '-5%')
                            
                            $('#tab-line-c').animate(
                                {padding : finalTop == 0.5 ? '5%' : 
                                ($(document.body).height()-$('#bottom-overlay').position().top)/2},
                                    250
                                )
                        }})
                }
            })

            finalTop == 0.5 ?$('#messages-container').animate({scrollTop :  $('#messages-container').scrollTop()+ $('#bottom-overlay').height()}, 250):{}
        }

        function togglePenSettings() {
            if (!appV.penSettings)
                $('#canvas-container').animate({opacity : 0}, 
                    {duration: 100, complete : ()=>{
                        $('#canvas-container').css('display', 'none')

                        $('#bottom-overlay').css('background-color', '#2d2d2d')
                        $('#pen-settings').css('display', 'block')
                        setTimeout(()=>{
                            $('#pen-settings').css('opacity', '1')
                        }, 100)

                    }
                })
            else 
            {
                $('#pen-settings').css('opacity', '0')
                setTimeout(()=>{
                    $('#pen-settings').css('display', 'none')
                    $('#bottom-overlay').css('background-color', 'white')
                    $('#canvas-container').css('display', 'block')
                    $('#canvas-container').animate({opacity : 1}, 100)
                }, 100)
            }
            
            appV.penSettings= !appV.penSettings 
        }

        function sendAnimation ()
        {
            $('#send').css('color', 'black');
            $('#send').animate({height: '110%'}, {duration : 250, complete : ()=>{
                    setTimeout(()=>{
                        clearCanvas()

                        $('#send').animate({height: '20%'}, {duration : 250, complete : ()=>{
                                $('#send').html('Sent!')
                            }});
                        $('#send').css('color', 'white');
                        setTimeout(()=>{
                            $('#send').html('Send')
                        }, 1000)
                    }, 1000)
                }
            })
        }
        
        document.addEventListener('DOMContentLoaded', e=>{
            appV = new Vue({
                el: '#app',
                delimiters : ['[[', ']]'],
                data: {
                    bucket : 0,
                    id : null,
                    messages: bucketMessages,
                    bottom_overlay_top: 0.5,
                    penSettings: false,
                    eraser: false,
                    caption: false,
                    scrolling: false
                },
                mounted() {
                    $('#messages-container').scroll((e) => {this.scrolling = true})

                    setInterval(() => {
                        if (this.scrolling)
                        {
                            if ($("#messages-container").scrollTop() < 800)
                                fetchMessages(10, message_offset)    
                            if ($("#messages-container").scrollTop() < 100)
                                $("#messages-container").scrollTop(200)
                        }
                        this.scrolling = false;
                    }, 300)
                },
                methods: {
                    overlaySwipe(event) {
                        if (!event.isFinal) return

                        if (event.direction == 16)
                            bottom_overlay_top = 0.9
                        else
                            bottom_overlay_top = 0.5

                        var dist = (event.direction == 16? 1 : -1)*Math.abs(event.velocityY) *5
                        animateOverlay(bottom_overlay_top, dist)

                    },
                    captionPress(event) {
                        this.caption= !this.caption
                    }
                }
            })

            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('bucket'))
                appV.bucket = urlParams.get('bucket');

            vIDAjax()
            animateOverlay(0.9)
            fetchMessages(10, 0)

            setTimeout(()=>{
                $('#messages-container').animate({scrollTop :  $('#messages-container').prop('scrollHeight')}, 750)
                $("html, body, #app").css({
                    height: window.innerHeight
                });
            }, 250)
        });

    </script>

    <body>
        
        <div id="app">
            <div id="messages-container">
                <message-li 
                    v-for="message in messages"
                    v-bind:message="message"
                    v-bind:key="message.id">
                </message-li>
            </div>
            <div id="toolbar" > 
                <div class="toolbar-button" v-bind:class="{checked : penSettings}" onclick="togglePenSettings()">Pen</div>
                <div class="toolbar-button" v-bind:class="{checked : eraser}" onclick="toggleEraser()">Erase</div>
                <div class="toolbar-button" onclick="copyMessage()">Copy</div>
                <div class="toolbar-button" onclick="clearCanvas()">Clear</div>
                <!-- <div class="toolbar-button" style="margin-right: 25%;" v-bind:class="{checked : caption}" onclick="appV.caption= !appV.caption">Caption</div> -->
            </div>
            <div id="bottom-overlay" >
                <div id="tab-line-c" v-swipe="overlaySwipe" style="position: absolute;width: 100%;height: 3%;padding: 5%;box-sizing: border-box;">
                    <div class="tab-line"></div>
                </div>

                <div style="-webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;width: 100%; height: 80%;" id="canvas-container">
                    <canvas width="100%" height="100%" style="height: 100%; width: 100%;"></canvas>
                </div>

                <div id="pen-settings">
                    <span style="color: white;text-align: center;">Pen Size<br></span>
                    <input type="range" min="5" max="60" value="15" class="slider" id="penSize">
                    <span style="color: white;text-align: center;" id='penColorText'><br>Pen Color<br></span>
                    <span style=" font-size: 2vh;color: rgb(255, 131, 131);">Red<br></span>
                    <input type="range" min="0" max="255" value="0" class="slider" id="penRed">
                    <span style="font-size: 2vh;color: rgb(160, 255, 131);">Green<br></span>
                    <input type="range" min="0" max="255" value="0" class="slider" id="penGreen">
                    <span style="font-size: 2vh;color: rgb(131, 181, 255);">Blue<br></span>
                    <input type="range" min="0" max="255" value="0" class="slider" id="penBlue">
                </div>

                <div class="bottom-button" id="send" v-press="captionPress" onclick="sendAnimation();sendMessage()">Send</div>
                <div id="caption-input" v-bind:class="{active : caption}"><input value="Caption" type="text"></div>
            </div>
    </body>

</html>
