<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.7.0/vue-cookies.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        
        <script src="{{ url_for('static', filename = 'js/user.js') }}"></script>
        <title>PictoALPH</title>

        <!-- Basic declarations and Meta descriptions -->
        <meta charset="utf-8">
        <!-- <meta name="viewport"    content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <meta name="description" content="Chat.">

        <!-- Web app manifest -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"> 

    </head>

    <script>
        let appV = null
        Vue.directive("swipe", {
            bind: function(el, binding) {
                if (typeof binding.value === "function") {
                    const mc = new Hammer(el);
                    mc.get("swipe").set({ direction: Hammer.DIRECTION_VERTICAL });
                    mc.on("swipe", binding.value);
                }
            }
        });

        function animateOverlay(finalTop, dist = 0) 
        {
            $('#bottom-overlay').animate(
                {top : ($(document.body).height()*finalTop + dist)}, 
                {duration: 150, complete: ()=>{
                    $('#bottom-overlay').animate(
                        {top : finalTop*100 + '%'},
                        {duration: 50, complete: ()=>{        
                            $('#tab-line-c').animate(
                                {padding : finalTop == 0.5 ? '5%' : 
                                    ($(document.body).height()-$('#bottom-overlay').position().top)/2},
                                250
                            )
                        }})
                }
            }).css('overflow', finalTop == 0.5 ? 'auto' : 'hidden')
        }

        document.addEventListener('DOMContentLoaded', e=>{
            appV = new Vue({
                el: '#app',
                delimiters : ['[[', ']]'],
                data: {
                    id : 'b\'not213243hhhas2aRealID',
                    chats : {},
                    username: 'Not logged in',
                    token: null
                },
                methods: {
                    overlaySwipe(event) {
                        if (!event.isFinal) return

                        var finalTop = null
                        if (event.direction == 16)
                            finalTop = 0.9
                        else
                            finalTop = 0.5

                        var dist = (event.direction == 16? 1 : -1)*Math.abs(event.velocityY) *5
                        animateOverlay(finalTop, dist)
                    }
                }
            })

            $.ajax({
                url: "/chat/listChats",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: {},
                type: 'GET'
            }).done((res)=>{
                appV.chats = res
                for (el in appV.chats)
                    appV.chats[el]['expanded'] = "false"
            })

            if (document.location.hash == "#badtoken")
            {
                document.location.hash = ""
                alert("You have been logged out due to inactivity. Please log back in.")
            }

            appV.token = getToken()
            if (appV.token != null) 
            {
                appV.username = $cookies.get('username')
                console.log('hh')
                testToken()
            }
        });

        Vue.component('bucket-button', {
            delimiters : ['[[', ']]'],
            props: ['chat'],
            template: `
                <div class="bucket-button" v-bind:class="{'expanded' : (chat.expanded == 'true')}">[[chat.name]]
                    <div class="info"> [[chat.activeSince]] </div>
                </div>`
        });

    </script>

    <body>
        
        <div id="app">
            <div id='welcome-text'><strong>Welcome,</strong><br>
                <span style="
                    font-size: 2vh;
                    width: 100%;
                    overflow: hidden;
                ">
                You are signed in under the username <br> <div style="
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                ">[[ username ]]</div></span>
            </div>

            <div class="dialog"
                v-if="token == null">
                <input type="text" class="username" placeholder="Username" style="margin-bottom: 2.5vh;"
                    id="usernameDialog"><br>
                <input type="password" class="password" placeholder="Password" style="margin-bottom: 1vh;"
                    id="passwordDialog">
                <button id="loginButton" 
                    v-bind:onclick="'auth($(\'#usernameDialog\').val(), $(\'#passwordDialog\').val())'">login</button>
                <button id="registerButton"
                    v-bind:onclick="'register($(\'#usernameDialog\').val(), $(\'#passwordDialog\').val())'">register</button>
            </div>

            <div id="bottom-overlay" v-if="token != null">
                <div id="tab-line-c" v-swipe="overlaySwipe" style="width: 100%;height: 3%;padding: 5%;box-sizing: border-box;">
                    <div class="tab-line"></div>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                    <bucket-button
                        v-for="c in chats"
                        v-bind:chat="c"
                        v-bind:key="c.id"
                        v-bind:onclick="'document.location=\'/chat?chat='+c.id+'\''"
                        >
                    </bucket-button>
                </div>
            </div>
        </div>
        
        <script>
            // if (prompt("Password", "") != "HELLO")
            //     window.location = '/fuck'
        </script>
    </body>

</html>
